tap "adoptopenjdk/openjdk"
tap "bramstein/webfonttools"
tap "buo/cask-upgrade"
tap "cjbassi/ytop"
tap "derailed/k9s"
tap "dteoh/sqa"
tap "fabianishere/personal"
tap "hashicorp/tap"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/command-not-found"
tap "homebrew/core"
tap "homebrew/services"
tap "joedrago/repo"
tap "louisbrunner/valgrind"
tap "mongodb/brew"
tap "teamookla/speedtest"
brew "ack"
brew "glib"
brew "python@3.9", link: false
brew "gdk-pixbuf"
brew "harfbuzz"
brew "pango"
brew "asciinema"
brew "autoconf"
brew "automake"
brew "autossh"
brew "awscli"
brew "azure-cli"
brew "b2-tools"
brew "bash"
brew "bat"
brew "bfg"
brew "binutils"
brew "libraqm"
brew "numpy"
brew "pillow"
brew "binwalk"
brew "bison"
brew "blueutil"
brew "caddy", restart_service: true
brew "carthage"
brew "chezmoi"
brew "chruby"
brew "cifer"
brew "coreutils"
brew "cowsay"
brew "create-dmg"
brew "ctags"
brew "dex2jar"
brew "diff-so-fancy"
brew "dns2tcp"
brew "dockutil"
brew "entr"
brew "exa"
brew "fasd"
brew "fd"
brew "libtool"
brew "unbound", restart_service: true
brew "gnutls"
brew "libass"
brew "ffmpeg"
brew "flarectl"
brew "flex"
brew "foremost"
brew "fstrm"
brew "libavif"
brew "gd"
brew "gh"
brew "ghostscript"
brew "git", link: false
brew "git-delta"
brew "git-lfs"
brew "glib-networking"
brew "graphviz"
brew "vala"
brew "libgit2"
brew "py3cairo"
brew "pygobject3"
brew "libsoup@2"
brew "gitg"
brew "gnu-sed"
brew "gnu-tar"
brew "pinentry"
brew "gnupg"
brew "go"
brew "gocr"
brew "gotop"
brew "grep"
brew "hashpump"
brew "helm"
brew "hey"
brew "hopenpgp-tools"
brew "hstr"
brew "htop"
brew "httpie"
brew "hub"
brew "hugo"
brew "mysql-client"
brew "hydra"
brew "libheif"
brew "imagemagick"
brew "iperf3"
brew "iproute2mac"
brew "jc"
brew "jq"
brew "knock"
brew "protobuf-c"
brew "knot", restart_service: true
brew "kubectx"
brew "kustomize"
brew "ldns"
brew "libimobiledevice"
brew "libirecovery"
brew "libpq"
brew "libproxy"
brew "libyaml"
brew "lima"
brew "locateme"
brew "lolcat"
brew "lsd"
brew "lua"
brew "lux"
brew "lynx"
brew "m-cli"
brew "ruby"
brew "macvim"
brew "magic-wormhole"
brew "mas"
brew "mitmproxy"
brew "node@16"
brew "mongosh"
brew "mosh"
brew "mtr"
brew "mysql"
brew "ncdu"
brew "neofetch"
brew "nginx"
brew "ninja"
brew "nmap"
brew "node", link: false
brew "node@14"
brew "noti"
brew "nss"
brew "ocrad"
brew "opensc"
brew "openssh"
brew "optipng"
brew "osx-cpu-temp"
brew "php", restart_service: true
brew "zopfli"
brew "pigz"
brew "pinentry-mac"
brew "pngcheck"
brew "procs"
brew "putty"
brew "pv"
brew "python@3.8", link: false
brew "qt"
brew "r"
brew "reattach-to-user-namespace"
brew "redis", restart_service: true
brew "rename"
brew "rlwrap"
brew "ruby-install"
brew "scons"
brew "screen"
brew "skaffold"
brew "sleepwatcher", restart_service: true
brew "slides"
brew "socat"
brew "sqlmap"
brew "ssh-copy-id"
brew "stress"
brew "subversion"
brew "tcpflow"
brew "tcpreplay"
brew "tcptrace"
brew "telnet"
brew "terminal-notifier"
brew "terraform"
brew "testssl"
brew "the_silver_searcher"
brew "tig"
brew "tldr", link: false
brew "tmux"
brew "tree"
brew "ucspi-tcp"
brew "vbindiff"
brew "velero"
brew "wakeonlan"
brew "wget"
brew "whatmask"
brew "wifi-password"
brew "wimlib"
brew "wireguard-tools"
brew "woff2"
brew "xpdf"
brew "yamllint"
brew "yarn", link: false
brew "ykman"
brew "ykpers"
brew "youtube-dl"
brew "yubico-piv-tool"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "bramstein/webfonttools/sfnt2woff"
brew "bramstein/webfonttools/sfnt2woff-zopfli"
brew "cjbassi/ytop/ytop"
brew "derailed/k9s/k9s"
brew "fabianishere/personal/pam_reattach"
brew "hashicorp/tap/nomad"
brew "heroku/brew/heroku"
brew "mongodb/brew/mongodb-community"
brew "teamookla/speedtest/speedtest"
cask "cheatsheet"
cask "cloudflare-warp"
cask "deepl"
cask "dropbox"
cask "fig"
cask "font-fira-code"
cask "font-hack-nerd-font"
cask "font-menlo-for-powerline"
cask "font-source-code-pro"
cask "iina"
cask "iterm2"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "mono-mdk-for-visual-studio"
cask "visual-studio"
cask "visual-studio-code"
